.app-header {
  background-color: var(--primary); // Cor do header
  color: #fff;
  padding: 1rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .nav-menu {
    a {
      color: #fff;
      text-decoration: none;
      margin: 0 1rem;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }

    .active {
      font-weight: bold;
    }
  }
}
